:root {
  --white: white;
  --black: black;
}

.section {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-2 {
  background-image: url('../images/frutas-verduras-mercado-abasto-rafael-lopez-1200.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.form {
  text-align: center;
}

.text-field, .text-field-2, .text-field-3, .textarea {
  font-family: Montserrat, sans-serif;
}

.textarea.consulta {
  height: 80px;
}

.submit-button {
  background-color: #326246;
  border-radius: 6px;
  margin-top: 10px;
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.submit-button:hover {
  background-color: #b1b1b1;
}

.heading {
  color: #509064;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 40px;
}

.heading-2 {
  color: #2B553D;
  text-align: center;
  background-color: #FFFFFF;
  margin-top: 10px;
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.heading-3 {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(#0fce7ab3, #0fce7ab3);
  border-radius: 6px;
  padding: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.section-3 {
  background-color: #e7e7e7;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-3.diferenciales {
  background-color: #fff;
}

.div-block {
  text-align: center;
  background-color: #509064;
  border-radius: 1000px;
  width: 120px;
  height: 120px;
  margin: auto;
}

.column {
  text-align: center;
}

.image {
  margin-top: 30px;
}

.text-block {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.column-2, .column-3, .column-4 {
  text-align: center;
}

.error-message {
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 0;
  position: absolute;
  inset: 0;
}

.column-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.section-4 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.heading-4 {
  text-align: center;
  border-bottom: 1px solid #333;
  margin-top: 0;
  margin-bottom: 40px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.heading-4.direccion {
  margin-bottom: 15px;
}

.columns {
  margin-bottom: 20px;
}

.heading-5 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 39px #000;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.container {
  text-align: center;
}

.button-2 {
  background-color: #0fce7a;
  border-radius: 6px;
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.button-2:hover {
  background-color: #b4b4b4;
}

.section-8 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.text-block-3 {
  text-align: center;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.section-9 {
  text-align: center;
  background-color: #494949;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slider {
  background-color: #0000;
  height: 250px;
}

.nombre-prod {
  color: #fff;
  text-transform: uppercase;
  background-color: #e48128;
  padding: 10px 5px;
  font-size: 26px;
  line-height: 22px;
  text-decoration: none;
}

.paragraph {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.paragraph.opinion {
  margin-left: 60px;
  margin-right: 60px;
}

.column-16 {
  text-align: center;
}

.text-block-4 {
  text-align: center;
  margin-top: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.container-2 {
  text-align: center;
}

.text-block-5 {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.text-block-5.medios-pago {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.medios-pago {
  z-index: 2;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 160px;
  position: fixed;
  top: 280.891px;
}

.presupuesto-3 {
  background-color: #c4d557;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 120px;
}

.select-field {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.select-field.prefijo {
  width: 35%;
}

.section-12 {
  background-image: url('../images/frutas-verduras-mercado-abasto-rafael-lopez-1200.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 80px;
}

.div-block-3 {
  display: flex;
}

html.w-mod-js [data-ix="aparecer-desde-el-centro"] {
  opacity: 0;
  transform: scale(.5);
}

html.w-mod-js [data-ix="aparecer-de-izq-a-der"] {
  opacity: 0;
  transform: translate(-100px);
}

html.w-mod-js [data-ix="aparecer-de-der-a-izq"] {
  opacity: 0;
  transform: translate(100px);
}

@media screen and (max-width: 991px) {
  .text-block-5.presupuesto, .medios-pago {
    display: none;
  }

  .select-field.prefijo {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .section-2 {
    padding-top: 62px;
    background-image: url('../images/frutas-verduras-mercado-abasto-rafael-lopez-900.webp');
    background-attachment: scroll;
  }

  .section-12 {
    background-image: url('../images/frutas-verduras-mercado-abasto-rafael-lopez-900.webp');
    background-attachment: scroll;
  }

  .column-5 {
    margin-bottom: 15px;
  }

  .column-16 {
    margin-bottom: 24px;
  }

  .image-45 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .section-4.productos1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-2,
  .section-12{
    background-attachment:scroll;
  }

  .column-8 {
    margin-bottom: 26px;
  }

  .column-9 {
    margin-bottom: 24px;
  }

  .section-8.direccion {
    padding-left: 10px;
    padding-right: 10px;
  }

  .text-block-5.presupuesto {
    display: none;
  }
}


