name: Copiar Images

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  process-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v4

      - name: Copiar im치genes seleccionadas a aceites-oliva/images
        id: copy_images
        shell: bash
        run: |
          set -euo pipefail
      
          SRC_DIR="snacks/images"
          DST_DIR="aceites-oliva/images"
      
          if [ ! -d "$SRC_DIR" ]; then
            echo "No existe $SRC_DIR"
            echo "copied=false" >> $GITHUB_OUTPUT
            exit 0
          fi
      
          mkdir -p "$DST_DIR"
      
          files=(
            "Captura-de-pantalla-2024-07-20-a-las-14.50.34.png"
            "quality-1_1quality-1.png"
            "test_1test.png"
            "clock_1clock.png"
          )
      
          copied_any=false
      
          for f in "${files[@]}"; do
            if [ -f "$SRC_DIR/$f" ]; then
              cp -a "$SRC_DIR/$f" "$DST_DIR/"
              echo "Copiado: $f"
              copied_any=true
            else
              echo "No encontrado: $SRC_DIR/$f"
            fi
          done
      
          echo "copied=$copied_any" >> $GITHUB_OUTPUT


      - name: Commit y push im치genes copiadas
        if: steps.copy_images.outputs.copied == 'true'
        run: |
          git config --local user.email "SidVal@users.noreply.github.com"
          git config --local user.name "SidVal"
          git add aceites-oliva/images
          git commit -m "Copiar im치genes seleccionadas a aceites-oliva"
          git push


      - name: Emitir evento al finalizar si es exitoso
        if: steps.copy_images.outputs.copied == 'true'
        run: echo "Fin del flujo de trabajo para copiar imagenes"
        id: notify-success
